@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Nimesh Patel<br />
    <abbr title="Phone">P:</abbr>
    9624192195
</address>

<address>
    <strong>Sales:</strong>   <a href="mailto:nimesh.patel298@gmail.com">nimesh.patel298@gmail.com</a><br />
    <strong>App Support:</strong> <a href="mailto:nimesh.patel298@hotmail.com">nimesh.patel298@hotmail.com</a>
</address>