@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row">
    <div class="col-md-3">
        <h2>Ashish</h2>
        <p>
            Details Comming Up....
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Follow Me &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Ketan</h2>
        <p>Details Comming Up....</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Follow Me &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Jayesh</h2>
        <p>Details Comming Up....</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Follow Me &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Hitendra</h2>
        <p>Details Comming Up....</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Follow Me &raquo;</a></p>
    </div>
</div>